body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar-background{
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-background .navbar-toggler {
    color: #fff!important;
    border-color:#fff;
}
.navbar-brand{
    color: #fff !important;
}
.navbar-nav a{
    color: #fff !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
/* Banner */
  
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/newspaper.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1{
    font-size: 80px;
    font-weight: 800;
}
.hero-text p {
    font-family: 'Cormorant', serif;
    font-size: 30px;
}

/* Card */
.card{
    margin: 20px;
}
.card-header a{
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 18px;
}

.card-header a:hover{
    text-decoration: none;
}

.card-header button{
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Delete Button */
.btn-outline-danger {
    float: right;
}

textarea {
    width: 100%;
    border-radius: 8px;
}
